.white-piece, .black-piece, .white-king, .black-king {
    pointer-events: none;
    height: 60px;
    width: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;	
    margin-top: 7.5px;
    margin-bottom: auto;
}
.white-piece {
    content: url("../images/White.png");
}
.black-piece {
    content: url("../images/Black.png");
}
.white-king {
    content: url("../images/White-king.png");
}
.black-king {
    content: url("../images/Black-king.png");
}

.board {
    width: 600px;
    height: 600px;
    display: table-cell;
}
.white, .black {
    float: left;
    width: 75px;
    height: 75px;
}
.white {
    background-image: url("../images/white wood.jpg");
}
.black {
    background-image: url("../images/dark wood.jpg");
}

#chat {
    height: 500px;
    border: 5px solid gray;
}