.white-piece, .black-piece, .white-king, .black-king {
    pointer-events: none;
    height: 60px;
    width: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;	
    margin-top: 7.5px;
    margin-bottom: auto;
}
.logo
{
    position: fixed;
    right: 20px;
    top:10px;
}

.white-piece {
    content: url("../images/White.png");
}
.black-piece {
    content: url("../images/Black.png");
}
.white-king {
    content: url("../images/White-king.png");
}
.black-king {
    content: url("../images/Black-king.png");
}

.board {
    width: 600px;
    height: 600px;
    display: table-cell;
    position: absolute;
    left: 10px;
    top: 50px;
}
.white, .black {
    float: left;
    width: 75px;
    height: 75px;
}
.white {
    background-image: url("../images/white wood.jpg");
}
.black {
    background-image: url("../images/dark wood.jpg");
}
#blackTimer
{
    position: absolute;
    left: 10px;
    font-size: 20px;
    top: 10px;
}
#blackTaken
{
    position: absolute;
    left: 460px;
    font-size: 20px;
    top: 10px; 
}
#whiteTimer
{
    position: absolute;
    left: 10px;
    font-size: 20px;
    top: 680px;
}
#whiteTaken
{
    position: absolute;
    left: 460px;
    font-size: 20px;
    top: 680px;
}
#chat {
    height: 500px;
    border: 5px solid gray;
}
#chat:hover
{
    border-color: yellow;
}

#message-text:active{
    border-style: solid;
    border-color:purple;
}